beautifulsoup4==4.6.0
bleach==2.1.3
certifi==2018.4.16
chardet==3.0.4
Django==1.11
django-contrib-comments==1.8.0
django-model-utils==3.1.1
Faker==0.8.13
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==1.0.1
idna==2.6
ipaddress==1.0.22
git+https://github.com/stephenmcd/mezzanine.git@32dc38778d296f508a23b729de04a02
oauthlib==2.0.7
Pillow==5.1.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
text-unidecode==1.2
tzlocal==1.5.1
urllib3==1.22
webencodings==0.5.1
