{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Congratulations!</h2>
<p>
    Welcome to Royalty Management System!
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="/payees/">Payees</a></li>
    <li><a href="/royalty/">Royalty</a></li>
    <li><a href="/songs/">Songs</a></li>
 </ul>
{% endblocktrans %}
{% endblock %}
